/* ---------------- RESET ---------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(13, 31%, 94%);
  line-height: 1.5;
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
}



/* ---------------- MAIN CONTAINER ---------------- */
main {
  padding: 1rem;
}

header {
  padding: 1.5rem 0;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
   
}

.entries {
  position: relative;
  z-index: 1;
} 

.add-to-cart > button {
  background-color: hsl(20, 50%, 98%);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.5rem 0.8rem 2.4rem;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  font-weight: 700;
  z-index: 5;
  position: absolute;
  bottom: 7.6rem;
  left: 5.3rem;
  border: none;
  border-bottom: 1px solid black;
}

.entries .product-list-info {
  padding: 2rem 0;
}

.entries p {
  color: hsl(14, 25%, 72%);
}

.entries h3 {
  color: hsl(12, 20%, 44%);
}


.entries span {
  color: hsl(14, 86%, 42%);
  font-weight: 800;
}

.cart {
  background-color: hsl(20, 50%, 98%);
  padding: 1.5rem 1rem;
}

.cart h2 {
  color: hsl(14, 86%, 42%);
}

.cart img,
.cart p {
  display: flex;
  justify-self: center;
}

.cart img {
  padding: 2rem 1rem 1rem ;
}

.cart p {
  padding-bottom: 1rem;
}
/* ---------------- ATTRIBUTION / FOOTER---------------- */

.attribution {
   font-size: 11px; text-align: center; 
  }
    .attribution a {
       color: hsl(228, 45%, 44%); 
      }
